

<ion-view title="meu app" id="page21" style="" class=" " >
    <ion-content padding="false" class="has-header">
        <ion-list>
            <ion-item class="item-divider " id="mensagens-list-item-divider9">Selecione um aluno</ion-item>
        </ion-list>

        <ion-list   id="mensagens-list19" class="">

            <ion-item class="item-avatar item-icon-right" id="mensagens-list-item38"  >


                <h2></h2>

      <span class="badge badge-assertive" ></span>

            </ion-item>
        </ion-list>
        <div style="margin:1px;" class="list card"    id="verMensagens-list8"  class=" ">
        <p></p>
        </div>
    </ion-content>
</ion-view>
